# gitignore

# object files
*.o
*/*.o
*/*/*.o

# output file, executable
fractol

# Screen Recording
Subject/julia_ScreenRecording.mov       
Subject/mandelbrot_ScreenRecording.mov 
Subject/burningship_ScreenRecording.mov

# .DS_Store
.DS_Store
*/.DS_Store
**/.DS_Store